<!DOCTYPE html>
<html lang='en'>
	<head>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="css/toypic.css">
		<script type="text/javascript" data-main="js/index" src="js/lib/require.js"></script>
		<title>toypic.club</title>

	</head>

	<body class="home">

		<div class="logocontainer">
			<img class="img-responsive toplogo" src="img/logo.png" />
		</div>

		<div class="container"> <!-- main container -->
			<div class="home-toy-header"> <!-- top stuff -->
				<img src="img/tagline.png" alt="Send the kid a gift - Let them pick!" class="tagline">
				<div class="clear"></div>
				<div class="home-budget-area">
					<div>
						<label>Budget</label><br/>
						<label>$</label><input id="budget-price" type="text" placeholder="" value="100" required />
					</div>
				</div>
				<div class="refine-area">
					<div>
						<label>Narrow it down: </label><br />
						<div class="btn-group" data-toggle="buttons">
						  <label class="btn btn-primary active">
						    <input type="checkbox" name="options" id="option2" autocomplete="off" value="all" checked> All
						  </label>
						  
						  <label class="btn btn-primary">
						    <input type="checkbox" name="options" id="option1" autocomplete="off" value="boy"> Boy
						  </label>
						  <label class="btn btn-primary">
						    <input type="checkbox" name="options" id="option2" autocomplete="off" value="girl"> Girl
						  </label>
						  <label class="btn btn-primary">
						    <input type="checkbox" name="options" id="option2" autocomplete="off" value="clothes"> Clothes
						  </label>
						  <label class="btn btn-primary">
						    <input type="checkbox" name="options" id="option2" autocomplete="off" value="toys"> Toys
						  </label>
						  <label class="btn btn-primary">
						    <input type="checkbox" name="options" id="option2" autocomplete="off" value="games"> Games
						  </label>
						  <label class="btn btn-primary">
						    <input type="checkbox" name="options" id="option2" autocomplete="off" value="electronics"> Electronics
						  </label>
						<label class="btn btn-primary">
						    <input type="checkbox" name="options" id="option2" autocomplete="off" value="books"> Books
						  </label>
						<label class="btn btn-primary">
						    <input type="checkbox" name="options" id="option2" autocomplete="off" value="music"> Music
						  </label>
						 </div>
						 <div class="age">Age:</div>
						 <div class="btn-group" data-toggle="buttons">

						  
						  <label class="btn btn-primary">
						    <input type="checkbox" name="options" id="option2" autocomplete="off" value="37"> 3-7
						  </label>
						  <label class="btn btn-primary">
						    <input type="checkbox" name="options" id="option2" autocomplete="off" value="811"> 8-11
						  </label>
						  <label class="btn btn-primary">
						    <input type="checkbox" name="options" id="option2" autocomplete="off" value="1214"> 12-14
						  </label>
						  
						  
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<h3 class="select9">Select 9 gifts for the kid to choose from:</h3>
			<div class="home-search-results">
				<button class="btn btn-xl btn-view-options center-text">Show Options!</button> <!-- found gifts -->
			</div>
		</div>
		<div class="container last">
			<div class="row home-toy-footer"> <!-- send stuff -->
				<h2>Ready? Send it to the kid!</h2>
				<h4>When they choose the gift we will send you a link to buy it.</h4>
				
				
				<span>
					<label>Kid's name:</label>
					<input type="text" class="form-control" id="input_child_name" placeholder=""/>
				</span>
				
				<span>
					<label>Parent's email:</label>
					<input type="text" class="form-control" id="input_recieve_email" placeholder="" required />
				</span>


				<span>
					<label>Your Name:</label>
					<input type="text" class="form-control" id="input_sender_name" placeholder=""/>
				</span>

				<span>
					<label>Your email:</label>
					<input type="text" class="form-control" id="input_sender_email" placeholder="" required />
				</span>
				<span>
					<button class="btn btn-success" id="btn_send_gift">Send Gift!</button>
				</span>
			</div>

		</div>

	</body>

		<script type="text/template" id="gallery_view">

		</script>

		<script type="text/template" id="result_item">

		</script>


		<script type="text/template" id="template_keywords_list">
			<% _.each(current_keywords, function(kw){  %>
				<button class="btn btn-primary"> <%= kw %> </button> 
			<% }); %>
		</script>



		<script type="text/template" id="template_toy">
			<% if ( toy.get('selected') === true  ) { %> 
				<span class="home-toy chosen" data-id="<%= toy.get('id') %>">
			<% } else { %>
				<span class="home-toy" data-id="<%= toy.get('id') %>">
			 <% } %>
				<img class="img-responsive" src="<%= toy.get('image') %>" />
				<p><%= toy.get('name') %></p>
				<p><%= toy.get('price') %></p>
				<p><%= toy.get('selected') %></p>
				<div class="keep">Keep</div>
				<div class="check"></div>
			</span>
		</script>


</html>